Projeto-com-Arduino/
Projetos_Edição_de_Vídeos/
temp.txt
Materialmapa.zip
Projeto com rodapé.zip
Solução do exercício.zip
5d963a26e8e2f92680f9d540.zip
normal no firefox.png
responsivo no chromium.png
responsivo no firefox.png
Tela do site.png
Tela do site.svg
Teste_GridLayout/
jdk-11.0.4_linux-x64_bin.deb
jdk-11.0.4_windows-x64_bin.exe
Projetos_Python/
Projetos_Html/
Blog/
Gerenciamento-de-Loja/
Projetos_Netbeans/
Projetos-C++/
Projetos_JAVA/

